body {
    height: 100vh;
}

.list-name {
    cursor: pointer;
    background-color: #fff0;
}

.list-name:hover {
    background-color: #fff6;

}

.list-name.selected {
    background-color: #fff6;
}
