body {
    height: 100vh;
}

.list-name {
    cursor: pointer;
    background-color: #fff0;
    color: #fff;
}

.list-name.active-list,
.list-name:hover {
    background-color: #fff3;
}

.delete-btn {
    visibility: hidden;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .4rem;
    --bs-btn-font-size: .6rem;
}

.list-name:hover .delete-btn {
    visibility: visible;
}

.task:hover .delete-btn {
    visibility: visible;
}

.new-list-input {
    background-color: #fff0;
    border: 0;
    width: 100%;
    outline: 0;
    color: #fff;
}

.new-list-input::placeholder {
    color: #fff;
    opacity: 1;
}

.task-name {
    outline: 0;
}